.message-left,
.message-right {
    display: block;
    padding: 10px 16px;
    border-radius: 20px;
    width: 400px;
    margin: 10px 0;
}

.message-left {
    background-color: #e4e6eb;
}

.message-right {
    background-color: #0ab3d7;
    color: #fff;
    margin-left: auto
}