.NavItemGroup {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.NavItem {
    display: flex;
    height: 54px;
    padding: 12px 25px;
    box-sizing: border-box;
    align-items: center;
    border-bottom: 1px solid #021933;
}

.NavLink {
    text-decoration: none;
    color: #9EA8B5;
}